html{
  scroll-behavior: smooth;
}

.skip a{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: -50px;
  left: 10px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 10px;
  color: #141414;
  background-color: #ffffff;
}

* a:focus{
  border: dashed 1px;
  padding: 5px;
  border-radius: 5px;
}

header{
  background-color: #141414;
  margin-bottom: 20px;
}

nav{
  background-color: #141414;
  padding: 20px; 
  margin-top: 30px;
  border-top-style: solid;
  border-top-width: 10px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-image: linear-gradient(to right, #141414, #ffc600, #ffaa39, #ffc600, #141414) 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav a, nav li{
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  font-weight: initial;
  padding: 10px 3px 10px 3px;
}

nav a:hover{
  border-radius: 5px;
  font-weight: bold;
  color: #ffaa39;
}

.about #navigation #about, .education #navigation #education,
.professional #navigation #professional, .certificate #navigation #certificate,
.contact #navigation #contact{
  font-style: italic;
  font-weight: bold;
  color: #ffaa39;
  text-shadow: 0px 0px 15px #ffc600;
  text-transform: uppercase;
}

#logo, .logo{
  width: 220px;
  animation: logo_grow 2s 1;
  -webkit-animation: logo_grow 2s 1;
}

@-webkit-keyframes logo_grow{
  from {
    width: 25px;
  }
  to {
    width: 220px;
  }
}

@keyframes logo_grow{
  from {
    width: 25px;
  }
  to {
    width: 220px;
  }
} 

nav{
  animation: nav_show 3s 1;
  -webkit-animation: nav_show 3s 1;
}

@-webkit-keyframes nav_show{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes nav_show{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 

#navigation{
  display: flex;
  flex-direction: column;
}

body{
  background-color: #d1d4d3;  
}

h1, h2, h3{
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

h1{
  color: #141414;
  font-size: 32px;
  padding: 50px;
  text-align: center;
  background-color: #d1d4d3;
}

h2{
  color: #ffffff;
  font-size: 20px;
  background-color: #141414;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 0px 15px 0px 15px;
}

h3{
  color: #ffaa39;
  font-size: 18px;
  background-color: #141414;
  padding: 0px 15px 0px 15px;
  font-style: italic;
  border-bottom: 5px #141414 solid;
}

p,li,a{
  color: #141414;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  padding: 7.5px 15px 7.5px 15px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

footer{
  background-color: #141414;
  padding: 50px;
  text-align: center;
  margin-top: 50px;
  border-top-style: solid;
  border-top-width: 10px;
  border-image: linear-gradient(to right, #141414, #ffc600, #ffaa39, #ffc600, #141414) 1;
}

footer a, footer p{
  color: #ffffff;
  text-decoration: none;
}

ul{
  list-style: disc inside;
  }

.container{
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
}

.container div{
  border: 5px solid #141414;
  border-radius: 20px;
  margin: 20px;
}

.container p{
  grid-column: 2/span 1;
}

/*About Page*/
#yuema{
  width: 150px;
  grid-column: 2/span 1;
  margin: auto;
}

.about .container p{
  margin-top: 20px;
}

/*Education Page*/
#umlogo, #umlogo img, #msulogo, #msulogo img{
  width: 130px;
  grid-column: 2/span 1;
  margin: auto;
  margin-bottom: -25px;
  border-radius: 20px;
}

#umlogo,  #msulogo{
  border: none;
}

#umlogo img:hover, #msulogo img:hover{
  border: 2px dotted #ffaa39; 
}

#umsi, #broad{
  grid-column: 2/span 1;
}

#msulogo, #msulogo img{
  grid-row: 3/span 1;
}

#umsi h2, #umsi h3{
  background-color: #00274C;
}

#umsi h3{
  border-bottom: 5px #00274C solid;
  color: #FFCB05;
}

#umsi{
  border: 5px solid #00274C;
}

#broad h2, #broad h3{
  background-color: #133E35;
}

#broad h3{
  border-bottom: 5px #133E35 solid;
  color: #FFCB05;
}

#broad{
  border: 5px solid #133E35;
}

/*Professional Page*/
.professional div{
  grid-column: 2/span 1;
}

.professional .container img{
  display: none;
}

/*Certificate Page*/
.certificate .container div{
  grid-column: 2/span 1;
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.certificate .container div img{
  width: 100%;
  max-width: 500px;
}

.certificate .container div h2{
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 0px;
}

.certificate .container div p{
  line-height: 1;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

/*Contact Page*/
.contact h2, .contact h3{
  text-align: center;
}

.contact .container div{
  border: none;
  border-radius: 0px;
  margin: 0px;
}

#contactform, #socialmedia{
  border: 5px solid #141414;
  border-radius: 20px;
  margin: 20px;
  grid-column: 2/span 1;
}

/*Contact Page - form*/
form {
  margin: 20px 0px 20px 0px;
}

.form {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
}

legend{ 
  font-size: 150%;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 0px 15px 0px;
}

label{
  width: 100%;
  margin: 0px auto 0px auto;
  display: inline-block;
  grid-column: 2/span 1;
}

input{
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0px 15px 0px;
  display: inline-block;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

textarea{
  width: 100%;
  height: 15vh;
  margin: 5px 0px 15px 0px;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

button{
  background-color: #ffaa39;
  color: #141414;
  width: 100px;
  display: inline-block;
  grid-column: 2/span 1;
  margin: 0px auto 0px auto;
  padding: 5px;
}

button:hover{
  opacity: 0.8;
}

/*Contact Page - flip cards*/
.contact .container a:hover, .contact .container a:focus{
  border: none;
}

.cards:focus .card p{
  border: dashed 1px #141414;
  border-radius: 5px;
}

#cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.cards{
  width: 250px;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  perspective: 1000px;
}

.card{
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.cards:hover .card, .cards:focus .card{
  transform: rotateY(180deg);
}

.cards:focus .card{
  border: none;
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front p{
  background-color: #ffaa39;
  border: #141414 solid 1px;
  border-radius: 5px;
  text-align: center;
}

.card-back{
  transform: rotateY(180deg);
}

.card-back p{
  color: #141414;
  border: #141414 solid 1px;
  background-color: #f1f1f1;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 600px){
  h1{
    font-size: 50px;
  }

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 20px;
  }

  li,p,a{
  font-size: 18px;
  }

  #navigation{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  header{
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 750px;
    height: 550px;
    background-image: url('../images/background.png');
  }

  h1{
    color: #ffffff;
    text-shadow: 4px 4px 8px #141414;
    background-color: unset;
  }

  .container{
  grid-template-columns: 1fr 4fr 1fr 8fr 1fr 4fr 1fr;
  }

  /*About Page*/
  .about .container p{
    grid-column: 4/span 3;
    margin-left: 20px;
  }

  #yuema{
    width: 100%;
    max-width: 200px;
    grid-column: 2/span 2;
    grid-row: 1/span 4;
    margin: auto;
  }
  
  /*Education Page*/
  #umlogo, #umlogo img, #msulogo, #msulogo img{
    width: 100%;
    max-width: 150px;
    grid-column: 2/span 1;
    margin: 10px auto auto auto;
  }
  
  #umsi, #broad{
    grid-column: 3/span 4;
  }
  
  #msulogo, #msulogo img{
    grid-row: 2/span 1;
  }

  /*Professional Page*/
  .professional div{
    grid-column: 2/span 5;
  }

  #it ul{
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-image: url('../images/itluggage_opacity.png');
  }

  #transfar ul{
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-image: url('../images/transfar_opacity.png');
  }

  #admissions ul{
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-image: url('../images/admissions_opacity.png');
  }

  #cusa ul{
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-image: url('../images/cusa_opacity.png');
  }

  .professional div ul li{
    background: #d1d4d370;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /*Certificate Page*/
  .certificate .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
  }

  .certificate .container div img:hover{
    width: 700px;
    max-width: 700px;
    border: 2px dotted #ffaa39; 
    margin-left: -100px;
    -webkit-filter: opacity(85%); 
    filter: opacity(85%);
  }
  
  /*Contact Page*/
  .form{
    grid-template-columns: 15px 1fr 10px 1fr 15px;
  }

  label[for=first],label[for=email]{
    grid-column: 2/span 1;
  }

  label[for=last],label[for=phone]{
    grid-column: 4/span 1;
  }

  label[for=message]{
    grid-column: 2/span 3;
  }

  button{
    grid-column: 2/span 3;
  }

  #contactform, #socialmedia{
    grid-column: 2/span 5;
  }
}

@media screen and (min-width: 1000px){
  /*navigation bar*/
  nav{
    padding: 30px 40px 30px 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  nav a, nav li{
    padding: 10px;
  }

  #navigation{
    width: 100%;
    justify-content: flex-end;
  }

  /*parallax image*/
  header{
    height: 600px;  
  }

  /*Professional Page*/
  #it ul, #transfar ul, #admissions ul, #cusa ul{
  background-image: none;
  }

  #it, #admissions{
    grid-column: 4/span 3;
  }

  #transfar, #cusa{
    grid-column: 2/span 3;
  }

  .professional .container img{
    display: initial;
    width: 50%;
    max-width: 200px;
    margin: auto;
  }

  #it_logo, #admissions_logo{
    grid-column: 2/span 2;
  }

  #transfar_logo, #cusa_logo{
    grid-column: 5/span 2;
  }

  /*Certificate Page*/
  .certificate .container div{
    margin: 20px;
  }

  /*Contact Page - Form*/
  .form{
    grid-template-columns: 20px 1fr 10px 1fr 10px 1fr 10px 1fr 20px;
  }

  label[for=first]{
    grid-column: 2/span 1;
  }

  label[for=last]{
    grid-column: 4/span 1;
  }

  label[for=email]{
    grid-column: 6/span 1;
  }

  label[for=phone]{
    grid-column: 8/span 1;
  }

  label[for=message]{
    grid-column: 2/span 7;
  }

  button{
    grid-column: 2/span 7;
  }

  /*Contact Page - flip cards*/
  #cards{
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  .skip a{
    -webkit-transition: none;
    transition: none;
  }

  .card{
    -webkit-transition: none;
    transition: none;
  }

  #logo, .logo, nav{
    animation: none;
    -webkit-animation: none;
  }

  header{
    background-attachment: initial;
  }

  .certificate .container div img:hover{
    width: 500px;
    max-width: 500px;
    margin-left: 0px;
    -webkit-filter: none; 
    filter: none;
  }
}